<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='a1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='a4.css') }}">
</head>

<body style="background-color:white;">

    <h1>Medical QA</h1>

    <form action="/qa" method="post">
        <label for="prompt_a5">Enter your query:</label>
        <!-- Input box for user's message -->
        <input type="text" id="user_message" name="user_message" required value="{{ user_message }}">

        <button type="submit">Send</button>
    </form>

    {% if generated_response %}
    <div class="result-container">
        <div class="result-card chatbot-response">
            <h2>Chatbot Response</h2>
            <!-- Display the generated response as HTML -->
            <p><strong>Answer: </strong></p>
            {{ generated_response | safe }}
            <!-- Provide relevant source documents -->
            
        </div>
    </div>
    {% endif %}
</body>

</html>
